body .title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'HYWenHei 85W';
}

body .titlex {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'HYWenHei 85W';
}


a:link {
    color: #f08080;
    text-decoration: none;
}

a:visited {
    color: red;
    text-decoration: none;
}

a:hover {
    color: aqua;
    text-decoration: none;
}

a:active {
    color: aquamarine;
    text-decoration: none;
}

body .notice {
    text-align: center;
    margin-top: 140px;
}

body .notice .button {
    border: 3px solid aqua;
    background-color: aquamarine;
    color: rebeccapurple;
    padding: 20px 40px;
    font-size: 30px;
    font-family: "Calibri";
}

body .download {
    text-align: center;
    margin-top: 120px;
}

body .download .button {
    border: 3px solid aqua;
    background-color: aquamarine;
    color: rebeccapurple;
    padding: 20px 40px;
    font-size: 30px;
    font-family: "Calibri";
}

body .information {
    text-align: center;
    margin-top: 120px;
}

body .information .button {
    border: 3px solid aqua;
    background-color: aquamarine;
    color: rebeccapurple;
    padding: 20px 40px;
    font-size: 30px;
    font-family: "Calibri";
}

body .copyright {
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}